<h1>Table of Contents<span class="tocSkip"></span></h1>

# Introduction
<hr style = "border:2px solid black" ></hr>


**What?** Complex selections

# Imports
<hr style = "border:2px solid black" ></hr>

In [1]:
import numpy as np
import pandas as pd

# Complex Selection
<hr style = "border:2px solid black" ></hr>

In [2]:
data = np.random.standard_normal((10, 2))

In [3]:
df = pd.DataFrame(data, columns=['x', 'y'])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       10 non-null     float64
 1   y       10 non-null     float64
dtypes: float64(2)
memory usage: 288.0 bytes

In [5]:
df.head()

          x         y
0 -0.173575  2.601731
1  1.333284  1.374757
2  0.076288 -0.690873
3  0.083502 -0.568542
4  0.592260 -0.417734

In [6]:
df.tail()

          x         y
5 -0.315841  0.235669
6 -0.523667  0.285220
7  0.641523  0.604292
8 -1.693754 -0.594109
9 -0.283869  0.933277

In [7]:
df['x'] > 0.5

0    False
1     True
2    False
3    False
4     True
5    False
6    False
7     True
8    False
9    False
Name: x, dtype: bool

In [8]:
(df['x'] > 0) & (df['y'] < 0)

0    False
1    False
2     True
3     True
4     True
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [9]:
(df['x'] > 0) | (df['y'] < 0)

0    False
1     True
2     True
3     True
4     True
5    False
6    False
7     True
8     True
9    False
dtype: bool

In [10]:
df[df['x'] > 0]

          x         y
1  1.333284  1.374757
2  0.076288 -0.690873
3  0.083502 -0.568542
4  0.592260 -0.417734
7  0.641523  0.604292

In [11]:
df.query('x > 0')

          x         y
1  1.333284  1.374757
2  0.076288 -0.690873
3  0.083502 -0.568542
4  0.592260 -0.417734
7  0.641523  0.604292

In [12]:
df[(df['x'] > 0) & (df['y'] < 0)]

          x         y
2  0.076288 -0.690873
3  0.083502 -0.568542
4  0.592260 -0.417734

In [13]:
df.query('x > 0 & y < 0')

          x         y
2  0.076288 -0.690873
3  0.083502 -0.568542
4  0.592260 -0.417734

In [14]:
df[(df.x > 0) | (df.y < 0)]

          x         y
1  1.333284  1.374757
2  0.076288 -0.690873
3  0.083502 -0.568542
4  0.592260 -0.417734
7  0.641523  0.604292
8 -1.693754 -0.594109

In [15]:
df > 0

       x      y
0  False   True
1   True   True
2   True  False
3   True  False
4   True  False
5  False   True
6  False   True
7   True   True
8  False  False
9  False   True

In [16]:
df[df > 0]

          x         y
0       NaN  2.601731
1  1.333284  1.374757
2  0.076288       NaN
3  0.083502       NaN
4  0.592260       NaN
5       NaN  0.235669
6       NaN  0.285220
7  0.641523  0.604292
8       NaN       NaN
9       NaN  0.933277

# References
<hr style = "border:2px solid black" ></hr>


- https://github.com/yhilpisch/py4fi2nd/blob/master/code/ch05/05_pandas.ipynb

# Requirements
<hr style = "border:2px solid black" ></hr>

In [17]:
%load_ext watermark
%watermark -v -iv

Python implementation: CPython
Python version       : 3.9.7
IPython version      : 7.29.0

autopep8: 1.6.0
json    : 2.0.9
pandas  : 1.4.0
numpy   : 1.22.2