# Pandas - code snippets

# Loading Some Example Data

In [2]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/rasbt/python_reference/master/Data/some_soccer_data.csv')
df

,PLAYER,SALARY,GP,G,A,SOT,PPG,P
0,Sergio Agüero\n Forward — Manchester City,$19.2m,16,14,3,34,13.12,209.98
1,Eden Hazard\n Midfield — Chelsea,$18.9m,21,8,4,17,13.05,274.04
2,Alexis Sánchez\n Forward — Arsenal,$17.6m,NaN,12,7,29,11.19,223.86
3,Yaya Touré\n Midfield — Manchester City,$16.6m,18,7,1,19,10.99,197.91
4,Ángel Di María\n Midfield — Manchester United,$15.0m,13,3,NaN,13,10.17,132.23
5,Santiago Cazorla\n Midfield — Arsenal,$14.8m,20,4,NaN,20,9.97,NaN
6,David Silva\n Midfield — Manchester City,$14.3m,15,6,2,11,10.35,155.26
7,Cesc Fàbregas\n Midfield — Chelsea,$14.0m,20,2,14,10,10.47,209.49
8,Saido Berahino\n Forward — West Brom,$13.8m,21,9,0,20,7.02,147.43
9,Steven Gerrard\n Midfield — Liverpool,$13.8m,20,5,1,11,7.50,150.01

# If-tests

I was recently asked how to do an if-test in pandas, that is, how to create an array of 1s and 0s depending on a condition, e.g., if `val` less than 0.5 -> 0, else -> 1. Using the boolean mask, that's pretty simple since `True` and `False` are integers after all.

In [1]:
int(True)

1

In [2]:
import pandas as pd

a = [[2., .3, 4., 5.], [.8, .03, 0.02, 5.]]
df = pd.DataFrame(a)
df

     0     1     2  3
0  2.0  0.30  4.00  5
1  0.8  0.03  0.02  5

In [3]:
df = df <= 0.05
df

       0      1      2      3
0  False  False  False  False
1  False   True   True  False

In [4]:
df.astype(int)

   0  1  2  3
0  0  0  0  0
1  0  1  1  0

# References
- https://nbviewer.org/github/rasbt/python_reference/blob/master/tutorials/things_in_pandas.ipynb